body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
}

button {
    cursor: pointer;
}

.container {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(circle, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%));
}

.rules-container {
    width: 100%;
    position: relative;
    display: none;
}

.rules-popup-div {
    box-sizing: border-box;
    position: absolute;
    z-index: +21;
    width: 100%;
    min-height: 100vh;
    background: hsla(214, 51%, 18%, 0.548);
}

.actual-rules {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background: white;
    /* Animation */
    animation-name: bounceIn;
    animation-duration: .75s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.rules-title-div img {
    display: none;
}

.rules-title-mobile {
    box-sizing: border-box;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    padding-top: 3em;
    color: hsl(229, 25%, 31%);
}

.rules-image-div {
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    padding-top: 6.8em;
    display: flex;
    justify-content: center;
}

.rules-image-div img {
    box-sizing: border-box;
    width: 20em;
}

.rules-cancel-mobile {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 9.5em;
    padding-bottom: 2em;
    background: white;
}


/* .rules-cancel-mobile img {} */

.top-section-container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding-top: 2em;
    display: flex;
    justify-content: center;
    height: 5em;
}

.top-section-div {
    box-sizing: border-box;
    position: absolute;
    z-index: +20;
    box-sizing: border-box;
    width: 85%;
    margin: 0 auto;
    border-radius: 6px;
    border: solid hsl(217, 16%, 45%) 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: .6em;
}

.logo-div {
    padding: 1.5em 0 1em 1.5em;
}

.logo-div img {
    height: 3em;
}

.score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4em;
    background: white;
    padding: .2em 1.5em;
    border-radius: 5px;
}

.score-name {
    text-align: center;
    font-size: .6rem;
    color: hsl(229, 64%, 46%);
}

.score-value {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: hsl(229, 25%, 31%);
}

.play-choosing-section-container {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding-top: 6em;
    height: 22.1em;
}

.play-choosing-computer-section-container {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding-top: 6em;
    height: 22.1em;
    display: none;
}

.play-choosing-section-floating-div {
    width: 100%;
    position: absolute;
}

.play-choosing-section-div {
    width: 100%;
}

.actual-choice-div-container {
    position: relative;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    cursor: pointer;
}

#comp_choice {
    /* Animation */
    animation-name: bounceIn;
    animation-duration: .75s;
    animation-duration: 1s;
    animation-fill-mode: both;
    display: none;
}

.choice-button-thickness {
    z-index: +5;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.choice-button-bottom-thickness {
    z-index: +4;
    margin-top: .35em;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.choice-button-main-circle {
    box-sizing: border-box;
    z-index: +6;
    position: absolute;
    width: 6em;
    height: 6em;
    background: white;
    border-radius: 50%;
    margin-top: 1em;
    margin-left: 1em;
    border-top: solid #D8D8D8 4px;
}


/* // Play Choice Colors  */

.player-rock .choice-button-thickness {
    background: rgb(220, 46, 78);
    background: linear-gradient(0deg, hsl(349, 71%, 52%) 0%, hsl(349, 70%, 56%) 100%);
}

.player-rock .choice-button-bottom-thickness {
    background: #B51F40;
}


/* ----------------------- */

.player-paper .choice-button-thickness {
    background: hsl(230, 89%, 62%);
    background: linear-gradient(0deg, hsl(230, 89%, 62%) 0%, hsl(230, 89%, 65%) 100%);
}

.player-paper .choice-button-bottom-thickness {
    background: hsl(230, 66%, 53%);
}


/* ----------------------- */

.player-scissors .choice-button-thickness {
    background: hsl(39, 89%, 49%);
    background: linear-gradient(0deg, hsl(39, 89%, 49%) 0%, hsl(40, 84%, 53%) 100%);
}

.player-scissors .choice-button-bottom-thickness {
    background: hsl(39, 93%, 40%);
}


/* ----------------------- */

.choice-image-div {
    position: absolute;
    z-index: +7;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-choosing-top-two-container,
.play-computer-choosing-top-two-container {
    width: 20em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.play-choosing-bottom-solo-container {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}


/* .play-choice-div {} */

.play-choice-title-container {
    position: relative;
}

.play-choice-title-desktop-container {
    position: relative;
    display: none;
}

.play-choice-title {
    width: 100%;
    position: absolute;
    text-align: center;
    color: white;
    padding-top: 2em;
}

.empty-computer-choice {
    width: 6em;
    height: 6em;
    background: #13263A;
    border-radius: 50%;
    margin-top: 1em;
    margin-left: 1em;
}

.winning-message-middle-container {
    position: relative;
    visibility: hidden;
}

.winning-message-middle-div {
    position: absolute;
    z-index: +22;
    width: 20em;
    margin-left: -10em;
    margin-top: 5em;
}

.glowing-winner-container {
    box-sizing: border-box;
    position: relative;
}

.glow-circle-three {
    box-sizing: border-box;
    width: 18em;
    height: 18em;
    border-radius: 50%;
    background: #27415e79;
    position: fixed;
    margin-top: -5em;
    margin-left: -5em;
}

.glow-circle-two {
    width: 14em;
    height: 14em;
    border-radius: 50%;
    background: #304d686b;
    position: absolute;
    margin-top: -3em;
    margin-left: -3em;
}

.glow-circle-one {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background: #3e5e7585;
    position: absolute;
    margin-top: -1em;
    margin-left: -1em;
}

.back-triangle-container {
    position: absolute;
    width: 100%;
}

.back-triangle-div {
    width: 13em;
    height: 10em;
    margin: 0 auto;
    padding-top: 4em;
}

.back-triangle-div img {
    width: 100%;
}

.win-or-lose-container {
    /* visibility: hidden; */
    width: 100%;
}

.win-or-lose-text {
    text-align: center;
    font-weight: 700;
    font-size: 3.8rem;
    color: white;
}

.play-again-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1.1em;
}

.play-again-container button {
    border: none;
    border-radius: 5px;
    background: white;
    color: hsl(229, 25%, 31%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 1.1em 3.8em;
}

.rules-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3.5em;
    padding-bottom: 2em;
    /* padding-top: 25em; */
}

.rules-button-container button {
    border: solid hsl(214, 18%, 63%) 2px;
    padding: .5em 1.8em;
    border-radius: 5px;
    background: transparent;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1rem;
    color: white;
    letter-spacing: 4px;
    font-weight: 600;
}

.win-or-lose-mobile-container {
    visibility: hidden;
}

#before_comp_choice .choice-button-thickness,
#before_comp_choice .choice-button-bottom-thickness {
    background: transparent;
}

#before_comp_choice .choice-button-main-circle {
    border: none;
    background: hsla(215, 57%, 9%, 0.5);
}

#before_comp_choice .choice-image-div {
    display: none;
}


/* ====================================================================================== */


/* ============================================================================ */


/* // MEDIA QUERIES ============================================= */

@media screen and (min-width: 768px) {
    .logo-div img {
        height: 5em;
    }
    .score-container {
        padding: .5em 2em;
    }
    .score-name {
        font-size: .9rem;
    }
    .score-value {
        font-size: 2.7rem;
    }
    /* // Computer choice and winning/losing  */
    .top-section-div {
        width: 60%;
    }
    .play-choosing-computer-section-container .play-computer-choosing-top-two-container {
        width: 75%;
    }
    .play-choosing-computer-section-container .actual-choice-div-container {
        width: 12em;
        height: 12em;
    }
    .play-choosing-computer-section-container .choice-button-main-circle {
        width: 9em;
        height: 9em;
        margin-top: 1.5em;
        margin-left: 1.5em;
    }
    .play-choosing-computer-section-container .choice-image-div img {
        width: 30%;
    }
    /* // Glowing circles */
    .glow-circle-three {
        box-sizing: border-box;
        width: 28em;
        height: 28em;
        margin-top: -8em;
        margin-left: -8em;
        overflow: hidden;
        overflow-y: hidden;
    }
    .glow-circle-two {
        width: 23em;
        height: 23em;
        margin-top: -5.5em;
        margin-left: -5.5em;
    }
    .glow-circle-one {
        width: 17em;
        height: 17em;
        margin-top: -2.5em;
        margin-left: -2.5em;
    }
    /* // Rules  */
    .rules-title-mobile {
        padding: 0;
    }
    .rules-popup-div {
        position: fixed;
        z-index: +23;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .actual-rules {
        box-sizing: border-box;
        width: 30em;
        height: 28em;
        background: white;
        border-radius: 10px;
    }
    .rules-image-div {
        box-sizing: border-box;
        width: 80%;
        margin: 0 auto;
        padding-top: 2em;
        display: flex;
        justify-content: center;
    }
    .rules-button-container {
        box-sizing: border-box;
        justify-content: flex-end;
        padding-right: 2em;
    }
    .rules-image-div img {
        width: 20em;
    }
    .rules-title-div {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em 2em 1em;
    }
    .rules-title-mobile {
        font-size: 1.5rem;
    }
    .rules-title-div img {
        display: block;
        height: 1.5em;
    }
    .rules-cancel-mobile {
        display: none;
    }
    .play-choice-title-desktop-container {
        display: flex;
        height: 8em;
    }
    .play-choice-title-desktop-container .play-choice-title {
        width: 100%;
        position: absolute;
        z-index: +23;
        text-align: center;
        color: white;
        padding-top: 2em;
        font-size: 1.5rem;
    }
    .play-choice-title-container {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .play-choosing-computer-section-container .play-computer-choosing-top-two-container {
        width: 40em;
    }
    .play-choosing-computer-section-container .actual-choice-div-container {
        width: 12em;
        height: 12em;
    }
    .play-choosing-computer-section-container .choice-button-main-circle {
        width: 9em;
        height: 9em;
        margin-top: 1.5em;
        margin-left: 1.5em;
    }
    /* // Player choice */
    .play-choosing-top-two-container {
        width: 25em;
    }
    .play-choosing-section-container .play-computer-choosing-top-two-container {
        width: 75%;
    }
    .play-choosing-section-container .actual-choice-div-container {
        width: 10em;
        height: 10em;
    }
    .play-choosing-section-container .choice-button-main-circle {
        width: 7em;
        height: 7em;
        margin-top: 1.5em;
        margin-left: 1.5em;
    }
    .back-triangle-div {
        width: 15em;
        padding-top: 5.5em;
    }
}

@media screen and (min-width: 1366px) {
    .top-section-div {
        width: 50%;
    }
    .play-choosing-computer-section-container .play-computer-choosing-top-two-container {
        width: 60em;
    }
    .play-choosing-computer-section-container .actual-choice-div-container {
        width: 18em;
        height: 18em;
    }
    .play-choosing-computer-section-container .choice-button-main-circle {
        width: 14em;
        height: 14em;
        margin-top: 2em;
        margin-left: 2em;
    }
    .play-choosing-computer-section-container .choice-image-div img {
        width: 30%;
    }
    .play-choosing-computer-section-container {
        height: 18em;
    }
    /* // Player choice */
    .play-choosing-top-two-container {
        width: 30em;
    }
    .play-choosing-section-container .play-computer-choosing-top-two-container {
        width: 75%;
    }
    .play-choosing-section-container .actual-choice-div-container {
        width: 12em;
        height: 12em;
    }
    .play-choosing-section-container .choice-button-main-circle {
        width: 9em;
        height: 9em;
        margin-top: 1.5em;
        margin-left: 1.5em;
    }
    .back-triangle-div {
        width: 15em;
        padding-top: 5.5em;
    }
    /* // Glowing circles */
    .glow-circle-three {
        box-sizing: border-box;
        width: 36em;
        height: 36em;
        margin-top: -9em;
        margin-left: -9em;
    }
    .glow-circle-two {
        width: 30em;
        height: 30em;
        margin-top: -6em;
        margin-left: -6em;
    }
    .glow-circle-one {
        width: 24em;
        height: 24em;
        margin-top: -3em;
        margin-left: -3em;
    }
    .win-or-lose-mobile-container {
        visibility: hidden;
    }
    .winning-message-middle-container {
        display: none;
    }
    .rules-button-container {
        margin-top: 10em;
    }
    .win-or-lose-container {
        position: relative;
    }
    .win-or-lose-container {
        position: absolute;
    }
}


/* .bounceIn {
    animation-name: bounceIn;
    animation-duration: .75s;
    animation-duration: 1s;
    animation-fill-mode: both;
} */

@-webkit-keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}