body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
}

.container {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(circle, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%));
}

.rules-container {
    width: 100%;
    position: relative;
}

.rules-popup-div {
    box-sizing: border-box;
    position: fixed;
    z-index: +20;
    width: 100%;
    height: 100vh;
    background: yellow;
}

.actual-rules {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background: white;
}

.rules-title-mobile {
    box-sizing: border-box;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    padding-top: 3em;
    color: hsl(229, 25%, 31%);
}

.rules-image-div {
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    padding-top: 6.8em;
}

.rules-image-div img {
    width: 100%;
}

.rules-cancel-mobile {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 9.5em;
}


/* .rules-cancel-mobile img {} */

.top-section-container {
    width: 100%;
    padding-top: 2em;
}

.top-section-div {
    box-sizing: border-box;
    width: 85%;
    margin: 0 auto;
    border-radius: 6px;
    border: solid hsl(217, 16%, 45%) 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: .6em;
}

.logo-div {
    padding: 1.5em 0 1em 1.5em;
}

.logo-div img {
    height: 3.15em;
}

.score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4em;
    background: white;
    padding: .2em 1.5em;
    border-radius: 5px;
}

.score-name {
    text-align: center;
    font-size: .6rem;
    color: hsl(229, 64%, 46%);
}

.score-value {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: hsl(229, 25%, 31%);
}

.play-choosing-section-container {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding-top: 6em;
    height: 22.1em;
}

.play-choosing-section-floating-div {
    width: 100%;
    position: absolute;
}

.play-choosing-section-div {
    width: 100%;
}

.actual-choice-div-container {
    position: relative;
    width: 8em;
    height: 8em;
}

.choice-button-thickness {
    z-index: +5;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(220, 46, 78);
    background: linear-gradient(0deg, hsl(349, 71%, 52%) 0%, hsl(349, 70%, 56%) 100%);
    border-radius: 50%;
}

.choice-button-bottom-thickness {
    z-index: +4;
    margin-top: .35em;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #B51F40;
    border-radius: 50%;
}

.choice-button-main-circle {
    box-sizing: border-box;
    z-index: +6;
    position: absolute;
    width: 6em;
    height: 6em;
    background: white;
    border-radius: 50%;
    margin-top: 1em;
    margin-left: 1em;
    border-top: solid #D8D8D8 4px;
}

.choice-image-div {
    position: absolute;
    z-index: +7;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-choosing-top-two-container {
    width: 20em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.play-choosing-bottom-solo-container {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}


/* .play-choice-div {} */

.play-choice-title-container {
    position: relative;
}

.play-choice-title {
    width: 100%;
    position: absolute;
    text-align: center;
    color: white;
    padding-top: 2em;
}

.empty-computer-choice {
    width: 6em;
    height: 6em;
    background: #13263A;
    border-radius: 50%;
    margin-top: 1em;
    margin-left: 1em;
}

.glow-circle-three {
    width: 18em;
    height: 18em;
    border-radius: 50%;
    background: #27415e79;
    position: absolute;
    margin-top: -5em;
    margin-left: -5em;
}

.glow-circle-two {
    width: 14em;
    height: 14em;
    border-radius: 50%;
    background: #304d686b;
    position: absolute;
    margin-top: -3em;
    margin-left: -3em;
}

.glow-circle-one {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background: #3e5e7585;
    position: absolute;
    margin-top: -1em;
    margin-left: -1em;
}

.back-triangle-container {
    position: absolute;
    width: 100%;
}

.back-triangle-div {
    width: 13em;
    height: 10em;
    margin: 0 auto;
    padding-top: 4em;
}

.back-triangle-div img {
    width: 100%;
}

.win-or-lose-container {
    visibility: hidden;
    width: 100%;
}

.win-or-lose-text {
    text-align: center;
    font-weight: 700;
    font-size: 3.8rem;
    color: white;
}

.play-again-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1.1em;
}

.play-again-container button {
    border: none;
    border-radius: 5px;
    background: white;
    color: hsl(229, 25%, 31%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 1.1em 3.8em;
}

.rules-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3.5em;
    /* padding-top: 25em; */
}

.rules-button-container button {
    border: solid hsl(214, 18%, 63%) 2px;
    padding: .5em 1.8em;
    border-radius: 5px;
    background: transparent;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1rem;
    color: white;
    letter-spacing: 4px;
    font-weight: 600;
}